---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Index";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hier findest du Links zu allen Themen, die du dir vorstellen kannst!<br><br>
    Klick auf das Thema, das dich interessiert, und du wirst sofort zu den Blogeinträgen geleitet, die dieses Thema behandeln.<br><br>
    Keine komplizierte Scheiße, kein aufgehübschter Müll.<br>
    <b><u>Spielend einfach!</u></b>
  </p>
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag">
        <a href={`/tags/${tag}`}>{tag}</a>
      </p>
    ))}
  </div>
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>