---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');

const pageTitle = "Der Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where the magic happens!</p>
  <p>
    Hier wirst du eine umfassende, stetig wachsende Sammlung an Blogeinträgen, Tutorials und Krimskrams wiederfinden.<br>
    Im Moment siehst du Beispieleinträge. Lass dich nicht beirren, ich arbeite auf Hochtouren!
  </p>
  <ul>
    {allPosts.map((post) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))}
  </ul>
</BaseLayout>