---
import BaseLayout from '../layouts/BaseLayout.astro';
import Intro from '../components/Intro.astro';
import Timeline from '../components/Timeline.astro';
import Projects from '../components/Projects.astro';
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <div id="container" class="intro-container">
    <Intro />
  </div>
  <br><br>
  <Timeline />
  <br><br>
  <Projects />
  <br><br>
</BaseLayout>