---
import BaseLayout from '../layouts/BaseLayout.astro';
import Intro from '../components/Intro.astro';
const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle}>
  <div id="container" class="intro-container">
    <Intro />
  </div>
</BaseLayout>