---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Willkommen :)";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hier erwartet dich eine Menge Content</h2>
  <p>Im Moment ist diese Website noch in Bearbeitung.</p>
  <p>Schau demnächst gerne vorbei und lass dich überraschen wie sich diese Website entwickelt.</p>
</BaseLayout>