---
const { title, url, image } = Astro.props;
---

<li class="blog-post">
  <a href={url}>
    <img src={image} alt={title} class="blog-post-image" />
    <h2>{title}</h2>
  </a>
</li>

<style>
  .blog-post {
    list-style: none;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }

  .blog-post:hover {
    transform: scale(1.05);
  }

  .blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .blog-post:hover img {
    transform: scale(1.00);
  }

  .blog-post h2 {
    margin: -25px 0 2px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s ease;
  }
</style>