---
import Social from './Social.astro';
---

<footer>
  <div class="social-media">
    <Social platform="Twitter" username="ben_5alah" />
    <Social platform="Github" username="bensalah1992" />
    <Social platform="Reddit" username="user/whoamiagain756/" />
    <Social platform="Youtube" username="astrodotbuild" />
  </div>

  <div class="footer-textbox">
    <div class="footer-textbox">
    <p>Email: a.bensalah.net@gmail.com</p>
  </div>
</footer>