---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header class="nav-container">
  <nav>
    <Hamburger />
    <Navigation />
    <img src="/images/logo1.png" alt="Logo" class="logo" />
  </nav>
</header>