<div>
  <h2 id="intro-heading">Moin und Willkommen :)</h2>
  <img src="/images/ich.jpg" alt="Profilbild" class="profile-pic">
  <p id="intro-paragraph">
    Ich bin Abdallah Ben-Salah,
    <br>
    leidenschaftlicher Softwareentwickler und Web-Developer aus dem schönen Hamburg
    <br>
    Ich beschäftige mich unter anderem mit <b>Webentwicklung</b>, <b>Digitalisierung</b>, <b>IT-Sicherheit</b> und vielem mehr
    <br><br>
    Weiter unten findest du Lebenslauf und Projekte
    <br>
    Bei Fragen nutze gerne das Kontaktformular
    <br><br>
    Schau auch in meinem <b>Blog</b> vorbei!
    <br>
    Bis bald 🚀
  </p>
  <!-- Button -->
  <button class="btn-transition" id="toggleBtn">
    Mehr über mich <span class="arrow">→</span>
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let showingMore = false;
    const profilePic = document.querySelector('.profile-pic');

    const texts = {
      intro: {
        heading: "Moin und Willkommen :)",
        paragraph: `
          Ich bin Abdallah Ben-Salah,
          <br>
          leidenschaftlicher Softwareentwickler und Web-Developer aus dem schönen Hamburg
          <br>
          Ich beschäftige mich unter anderem mit <b>Webentwicklung</b>, <b>Digitalisierung</b>, <b>IT-Sicherheit</b> und vielem mehr
          <br><br>
          Weiter unten findest du Lebenslauf und Projekte
          <br>
          Bei Fragen nutze gerne das Kontaktformular
          <br><br>
          Schau auch in meinem <b>Blog</b> vorbei!
          <br>
          Bis bald 🚀
        `,
        buttonText: "Mehr über mich <span class='arrow'>→</span>"
      },
      more: {
        heading: "",
        paragraph: `
          <div class="block-container">
            <div class="block">
              <h2>Fähigkeiten und Interessen</h2>
              <ul>
                <li><b>Webentwicklung</b> (HTML, CSS, JS, Astro...)</li>
                <li><b>Backend-Entwicklung</b> (Python, Java, Node.js...)</li>
                <li><b>DevOps</b> (Netlify...)</li>
                <li><b>IT-Sicherheit</b> (Forensic, Network, Web Security...)</li>
                <li><b>Digitalisierung</b> (Automatisierung, Prozessoptimierung, KI...)</li>
              </ul>
              <h2>Aktuell</h2>
              Zurzeit beschäftige ich mich mit dem Web-Framework <b>Astro</b> und der Cloud Web Platform <b>Netlify</b><br>
            </div>
          </div>
        `,
        buttonText: "Zurück <span class='arrow'>←</span>"
      }
    };

    function toggleContent() {
      const introHeading = document.getElementById('intro-heading');
      const introParagraph = document.getElementById('intro-paragraph');
      const toggleBtn = document.getElementById('toggleBtn');

      const content = showingMore ? texts.intro : texts.more;
      introHeading.innerHTML = content.heading;
      introParagraph.innerHTML = content.paragraph;
      toggleBtn.innerHTML = content.buttonText;

      // Profilbild Ein / Aus
      if (showingMore) {
        profilePic.classList.remove('hidden');
      } else {
        profilePic.classList.add('hidden');
      }

      showingMore = !showingMore;
      toggleBtn.blur();
    }

    document.getElementById('toggleBtn').addEventListener('click', toggleContent);
  });
</script>