---

---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="https://x.com/ben_5alah" target="_blank" rel="noopener noreferrer">Twitter</a>
  <a href="https://github.com/offline500" target="_blank" rel="noopener noreferrer">Github</a>
</div>