---

---

<div class="nav-links">
  <a href="/"><i class="fa-solid fa-house"></i>&nbsp;Home</a>
  <a href="/blog"><i class="fa-solid fa-rss icon-red"></i>&nbsp;Blog</a>
  <a href="/tags/"><i class="fa-solid fa-tag"></i>&nbsp;Tags</a>
  <a href=""><i class="fa-regular fa-envelope"></i>&nbsp;Kontakt</a>
</div>