---
---
<h2>Resume</h2>
<div class="scroll-indicator"> Scroll ➔</div>
<div class="timeline">
  <div class="timeline-item">
    <div class="timeline-date">2014/17</div>
    <div class="timeline-content">
      <h3>Ausbildung</h3>
      <p>Ausbildung in einem Sicherheitsunternehmen in Hannover</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-date">2017/20</div>
    <div class="timeline-content">
      <h3>Arbeit</h3>
      <p>Überwachung sicherheitsempfindlicher Bereiche am größten Flughafen Deutschlands in Frankfurt a.M.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-date">jetzt</div>
    <div class="timeline-content">
      <h3>Studium</h3>
      <p>Studium der Informatik und Wirtschaftsinformatik an der Fernuniversität in Hagen</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-date">2020/jetzt</div>
    <div class="timeline-content">
      <h3>Arbeit</h3>
      <p>Technischer Mitarbeiter in einem bundesweit tätigen Sicherheitsunternehmen in Hamburg</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-date">2024</div>
    <div class="timeline-content">
      <h3>Web-Developer</h3>
      <p>Entwicklung der Website der Johann-Quast GmbH</p>
    </div>
  </div>
</div>