<h2>Resume</h2>
<div class="scroll-indicator">Scroll ➔</div>
<div class="timeline">
  <div class="timeline-item">
    <div class="timeline-date">2014/17</div>
    <div class="timeline-content">
      <h3>Ausbildung <i class="fa-solid fa-book"></i></h3>
      <p>Ausbildung mit den Schwerpunkten Gefahrenabwehr und Schutz kritischer Infrastrukturen</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-date">2017/20</div>
    <div class="timeline-content">
      <h3>Arbeit <i class="fa-solid fa-plane-departure"></i></h3>
      <p>Überwachung und Schutz sicherheitsempfindlicher Bereiche am größten Flughafen Deutschlands in Frankfurt a.M.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-date">2020/jetzt</div>
    <div class="timeline-content">
      <h3>Arbeit <i class="fa-solid fa-gears"></i></h3>
      <p>Technische Supportleistungen: Konfigurieren, installieren und warten technischer Geräte und Systeme.</p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-date"></div>
    <div class="timeline-content">
      <h3>Studium <i class="fa-solid fa-graduation-cap"></i></h3>
      <p>Studium der Informatik und Wirtschaftsinformatik an der Fernuniversität in Hagen</p>
    </div>
  </div>
</div>

<style>
  h2 {
      text-align: left;
      margin-bottom: 20px;
      font-size: 2rem;
      color: #333;
    }
</style>
